body{
    background-image: url("images/first.jpg");
    background-size: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
.container{
    background-position: center;
    background:whitesmoke;
    max-width: 80%
    margin:auto;
    border: 3px solid black;
    border-radius: 10px;

}
h1{
    margin: top 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button{
    display: inline-block;
    border-radius: 4px;
    background-color:aqua;
    border: none;
    color:azure;
    text-align: center;
    font-size:28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5;
    cursor: pointer;
    margin:5px;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
button:hover span {
    padding-right: 25px;
  }  
button:hover span:after {
    opacity: 1;
    right: 0;
  } 

#increment-btn{
    background: mediumaquamarine;
}

#save-btn{
    background: gold;
}

#save-el{
    font-weight: bold;
}